<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CSS3背景动画按钮特效 - 代码库</title>
		<link rel="stylesheet" href="/static/button/css/dmaku.css">
	</head>
	<!--/************************************************************
 *																*
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
**************************************************************-->
	<body>
		<div>
			<div>
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="btn btn-sm animated-button victoria-one">Sign up</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-two">Login</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-three">Register</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-four">Learn more</a>
				</div>
			</div>

		</div>

	</body>
</html>
