<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简单响应式jQuery Tabs选项卡插件|DEMO_jQuery之家-自由分享jQuery、html5、css3的插件库</title>
    <link rel="stylesheet" type="text/css" href="../static/xuanxiangla/201610091515/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static/xuanxiangla/201610091515/css/htmleaf-demo.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style type="text/css">
        /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
        /* =========
        Get Fonts */
        @import url(http://fonts.googleapis.com/css?family=Quicksand);
        @import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

        /* ================
           Assign Variables */
        /* ===========================
           Setup Mixins/Helper Classes */
        .clearfix:after, .container:after, .tab-nav:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        /* ==========
           Setup Page */
        *, *:before, *:after {
            box-sizing: border-box;
        }

        /* =================
           Container Styling */
        .container {
            position: relative;
            background: white;
            padding: 3em;
        }

        /* ===========
           Tab Styling */
        .tab-group {
            position: relative;
            border: 1px solid #eee;
            margin-top: 2.5em;
            border-radius: 0 0 10px 10px;
        }

        .tab-group section {
            opacity: 0;
            height: 0;
            padding: 0 1em;
            overflow: hidden;
            transition: opacity 0.4s ease, height 0.4s ease;
        }

        .tab-group section.active {
            opacity: 1;
            height: auto;
            overflow: visible;
        }

        .tab-nav {
            list-style: none;
            margin: -2.5em -1px 0 0;
            padding: 0;
            height: 2.5em;
            overflow: hidden;
        }

        .tab-nav li {
            display: inline;
        }

        .tab-nav li a {
            top: 1px;
            position: relative;
            display: block;
            float: left;
            border-radius: 10px 10px 0 0;
        {#background: #eee;#} line-height: 2em;
            padding: 0 1em;
            text-decoration: none;
            color: grey;
            margin-top: .5em;
            margin-right: 1px;
            transition: background .2s ease, line-height .2s ease, margin .2s ease;
        }

        .tab-nav li.active a {
            background: #a1aaa5;
            color: #FFFFFFCC;
            line-height: 2.5em;
            margin-top: 0;
        }
    </style>
    <script src="../static/xuanxiangla/201610091515/js/prefixfree.min.js"></script>
    <!--[if IE]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="htmleaf-container" style="background-color: #2fa8ec;width: 100px;">

</div>
<div class="htmleaf-container">
    <header class="htmleaf-header">
        <h1>接口请求测试平台</h1>
        <br>
        <div style="padding-left: 120px">
            <select id="ts_method">
                <option value="none">请求方式</option>
                <option value="POST">POST</option>
                <option value="GET">GET</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
            </select>
            <input id="ts_url" type="text" style="width: 700px">
            <button style="background-color: #009d75" onclick="ho_send()">测试请求</button>
        </div>
    </header>
    <div class="container" style="left: 260px;width: 1200px;background-color: #242424">
        <div class="tab-group">
            <section id="tab1" title="请求头部">
                <div style="color: black;">
                    <table class="table table-bordered" id="myheader"
                           style="background-color: #242424;text-align: center">
                        <thead style="color: #337ab7;">
                        <tr>
                            <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                            <td style="width: 600px;border-radius: 5px;height: 30px;">Value</td>
                            <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input name="key3" type="text"
                                       style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <input name="value3" type="text"
                                       style="border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                        onclick="delTr(this)"> 删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <button class="btn btn-default" id="add_header" onclick="add_header()"
                            style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px">添加新参数
                    </button>
                </div>
                <br>
            </section>
            <section id="tab2" title="请求体">
                <div class="admin-content-task" style="color: #FFFFFFCC;;padding-top: 10px;height: 20px;width: 100%">
                    <input type="radio" id="none" name="mode" value="none"/> None&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Form-data" name="mode" value="Form-data"/> Form-data&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="X-www-form-urlencoded" name="mode" value="X-www-form-urlencoded"/>
                    X-www-form-urlencoded&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Raw" name="mode" value="Raw"/> Raw&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Binary" name="mode" value="Binary"/> Binary
                    <span id="content-type" style="position:absolute;display: none;left: 600px;top: 10px">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Content-Type :
                        <select class="btn-select"
                                style="background-color: #242424;color: #FFFFFFCC;;position: absolute;width: 280px;height: 25px;left: 180px;top: 0;border-radius: 5px;border: 0;appearance: inherit;">
                            <option>Auto</option>
                            <option>Text(test/plain)</option>
                            <option>JSON(application/json)</option>
                            <option>javascript(application/javascript)</option>
                            <option>XML(application/xml)</option>
                            <option>XML(text/xml)</option>
                            <option>HTML(text/html)</option>
                        </select>
                    </span>
                </div>
                <div id="heng"
                     style="width: 100%;height: 1px;background-color: #e7e5e5;position: absolute;left:0px;top: 40px;bottom: 360px">
                    &nbsp;
                </div>
                <br>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="nones"
                         style="text-align: center;color: grey;display: block">
                        <h3>这个请求将不会携带任何请求体</h3>
                        <h5>This request will not carry any request-body</h5>
                    </div>
                    <div class="tab-pane fade" id="form-datas" style="display: none">
                        <div style="width: 100%;color: black;">
                            <table class="table table-bordered" id="mytable"
                                   style="text-align: center;background-color: #242424">
                                <thead style="color: #337ab7;">
                                <tr>
                                    <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                                    <td style="width: 600px;border-radius: 5px;height: 30px;">Value</td>
                                    <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input name="key" type="text"
                                               style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <input name="value" type="text"
                                               style="border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                                onclick="delTr(this)"> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <button class="btn btn-default" id="add" onclick="add_params()"
                                    style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px">添加新参数
                            </button>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane fade" id="x-www-form-urlencodeds" style="display: none;">
                        <div style="width: 100%;color: black;">
                            <table class="table table-bordered" id="mytable2"
                                   style="background-color: #242424;text-align: center;">
                                <thead style="color: #337ab7;">
                                <tr>
                                    <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                                    <td style="width: 600px;border-radius: 5px;height: 30px;">Value</td>
                                    <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input name="key2" type="text"
                                               style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <input name="value2" type="text"
                                               style="border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                                onclick="delTr(this)"> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <button class="btn btn-default" id="add" onclick="add_word2()"
                                    style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px">添加新参数
                            </button>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane fade" id="raws" style="display: none">
                        <div id="hengs"
                             style="width: 100%;height: 1px;background-color: #e7e5e5;position: absolute;left:0px;top: 80px;bottom: 360px">
                            &nbsp;
                        </div>
                        <div style="height: 40px;padding-top: 8px">
                            <span style="color: #FFFFFFCC;">内容类型：</span>
                            <select style="border-radius: 5px;background-color: #3052b6">
                                <option>TEXT</option>
                                <option>JSON</option>
                                <option>XML</option>
                                <option>HTML</option>
                            </select>
                            <button style="position: absolute;top: 47px;left: 200px;background-color: #0B7500;z-index: 10;border-radius: 5px;"
                                    onclick="prettyPrints()">整理格式
                            </button>
                        </div>
                        <textarea name="" id="raw_Text"
                                  style="background-color: #323232;color: #FFFFFFCC;width: 100%;height: 300px;border: 0;outline:none;"></textarea>
                    </div>
                    <div id="binarys" style="display: none;height: 80px;">
                        <br>
                        <input type="file" id="myFile" style="color: #FFFFFFCC;outline:none;"/>
                    </div>
                </div>
            </section>
            <section id="tab3" title="Query参数">
                <div style="width: 100%;color: black;">
                    <table class="table table-bordered" id="myquery"
                           style="background-color: #242424;text-align: center;">
                        <thead style="color: #337ab7;">
                        <tr>
                            <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                            <td style="width: 600px;border-radius: 5px;height: 30px;">Value</td>
                            <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input name="key4" type="text"
                                       style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <input name="value4" type="text"
                                       style="border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                        onclick="delTr(this)"> 删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <button style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px" class="btn btn-default"
                            id="add" onclick="add_query()">添加新参数
                    </button>
                </div>
                <br>
            </section>
        </div>
    </div>
    <br>
    <div class="container" style="left: 260px;width: 1200px;background-color: #242424">
        <div class="tab-group">
            <br>
            <section id="tab6" title="时间分析">
                <h3>
                    Content 9
                </h3>
                <p>
                    Aliquam eleifend magna mauris, id egestas eros dictum ac. Vivamus ac turpis at nisi mattis aliquam.
                    In hac habitasse platea dictumst.
                </p>
            </section>
            <section id="tab7" title="返回结果">
                <p id="result" style="color: #FFFFFFCC">
                    返回结果
                </p>
            </section>
            <section id="tab8" title="返回头部">
                <h3>
                    Content 9
                </h3>
                <p>
                    Aliquam eleifend magna mauris, id egestas eros dictum ac. Vivamus ac turpis at nisi mattis aliquam.
                    In hac habitasse platea dictumst.
                </p>
            </section>
            <section id="tab9" title="请求内容">
                <h3>
                    Content 9
                </h3>
                <p>
                    Aliquam eleifend magna mauris, id egestas eros dictum ac. Vivamus ac turpis at nisi mattis aliquam.
                    In hac habitasse platea dictumst.
                </p>
            </section>
            <section id="tab10" title="请求头部">
                <h3>
                    Content 9
                </h3>
                <p>
                    Aliquam eleifend magna mauris, id egestas eros dictum ac. Vivamus ac turpis at nisi mattis aliquam.
                    In hac habitasse platea dictumst.
                </p>
            </section>

        </div>
    </div>
</div>
{#发送请求#}
<script>
    function ho_send() {
        // 获取接口的所有数据
        var ts_method = document.getElementById('ts_method').value;
        var ts_url = document.getElementById('ts_url').value;
        //获取headers
        var keys3 = document.getElementsByName('key3');
        var values3 = document.getElementsByName('value3');
        var keys_3 = [];
        var values_3 = [];
        var ts_api_header = [];
        for (var x3 = 0; x3 < keys3.length; x3++) {
            var key_3 = keys3[x3].value; // 获取tr下的俩个td
            keys_3.push(key_3)
        }
        for (var j3 = 0; j3 < values3.length; j3++) {
            var name_3 = values3[j3].value; // 获取tr下的俩个td
            values_3.push(name_3)
        }
        for (var l3 = 0; l3 < keys_3.length; l3++) {
            ts_api_header.push([keys_3[l3], values_3[l3]]);
        }
        // 判断顶部的数据是否填充完
        if (ts_method === 'none') {
            Swal.fire({
                icon: 'error',
                title: '请选择请求方式！！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        if (ts_url === '') {
            Swal.fire({
                icon: 'error',
                title: '请选择输入请求地址....！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        //判断关键数据是否符合规则
        if (ts_url.slice(0, 7) !== 'http://' && ts_url.slice(0, 8) !== 'https://') {
            Swal.fire({
                icon: 'error',
                title: 'host必须以http://或https://开头！！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        console.log(ts_api_header, keys_3, values_3)

        var ts_body_method = $('ul.tab-nav li[class="active"]')[0].innerText;
        if (ts_body_method === '请求体') {
            if (document.getElementById("none").checked) {
                var ts_api_body = ''
            }
            if (document.getElementById("Form-data").checked) {
                var keys = document.getElementsByName('key');
                var values = document.getElementsByName('value');
                var keys_ = [];
                var values_ = [];
                var ts_api_form = [];
                for (var x = 0; x < keys.length; x++) {
                    var key_ = keys[x].value; // 获取tr下的俩个td
                    keys_.push(key_)
                }
                for (var j = 0; j < values.length; j++) {
                    var name_ = values[j].value; // 获取tr下的俩个td
                    values_.push(name_)
                }
                for (var l = 0; l < keys_.length; l++) {
                    ts_api_form.push([keys_[l], values_[l]]);
                }
                console.log(ts_api_form, keys_, values_)
                ts_api_body = JSON.stringify(ts_api_form);
                var ts_api_method = 'form-data';
            }
            if (document.getElementById("X-www-form-urlencoded").checked) {
                var keys2 = document.getElementsByName('key2');
                var values2 = document.getElementsByName('value2');
                var keys_2 = [];
                var values_2 = [];
                var ts_api_www = [];
                for (var x2 = 0; x2 < keys2.length; x2++) {
                    var key_2 = keys2[x2].value; // 获取tr下的俩个td
                    keys_2.push(key_2)
                }
                for (var j2 = 0; j2 < values2.length; j2++) {
                    var name_2 = values2[j2].value; // 获取tr下的俩个td
                    values_2.push(name_2)
                }
                for (var l2 = 0; l2 < keys_2.length; l2++) {
                    ts_api_www.push([keys_2[l2], values_2[l2]]);
                }
                console.log(ts_api_www, keys_2, values_2)
                ts_api_body = JSON.stringify(ts_api_www);
            }
            if (document.getElementById("Raw").checked) {
                {#需要获取conten-type#}
                var ts_api_body = document.getElementById('raw_Text').value;
            }
            if (document.getElementById("Binary").checked) {
                console.log('Binary')
            }
        }

        if (ts_body_method === 'Query参数') {
            var keys4 = document.getElementsByName('key4');
            var values4 = document.getElementsByName('value4');
            var keys_4 = [];
            var values_4 = [];
            var ts_api_query = [];
            for (var x4 = 0; x4 < keys4.length; x4++) {
                var key_4 = keys4[x4].value; // 获取tr下的俩个td
                keys_4.push(key_4)
            }
            for (var j4 = 0; j4 < values4.length; j4++) {
                var name_4 = values4[j4].value; // 获取tr下的俩个td
                values_4.push(name_4)
            }
            for (var l4 = 0; l4 < keys_4.length; l4++) {
                ts_api_query.push([keys_4[l4], values_4[l4]]);
            }
            console.log(ts_api_query, keys_4, values_4)
        }
        console.log(ts_method, ts_url, ts_api_body)
        $.ajax({
            url: '/Api_send_index/',
            type: 'POST',
            data: JSON.stringify({
                'ts_method': ts_method, //请求方式
                'ts_url': ts_url,   //请求地址
                'ts_api_header': ts_api_header,  //请求头
                'ts_body_method': ts_body_method,  //参数位置
                'ts_api_method': ts_api_method,
                'ts_api_body': ts_api_body,   //参数
            }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data){
                console.log(data)
                $("li a[href=#tab7]").click();
                document.getElementById('result').innerText = data;
            }
        })
    }
</script>
<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="../static/xuanxiangla/201610091515/js/jquery-1.11.0.min.js"><\/script>')</script>
<script type="text/javascript" src="../static/xuanxiangla/201610091515/js/jquery-tab.js"></script>
<script type="text/javascript">
    $(function () {
        // Calling the plugin
        $('.tab-group').tabify();
    });
    $('#myBtn').click(function () {
        $('#myFile').click(); // 模拟文件上传按钮点击操作

    });
    $(".admin-content-task input:first").attr("checked", true);
</script>
<script>
    $('input[type=radio][name=mode]').change(function () {
        if (this.value === 'none') {
            document.getElementById('nones').style.display = 'block';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'none';
            return
        }
        if (this.value === 'Form-data') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'block';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'none';
            return
        }
        if (this.value === 'X-www-form-urlencoded') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'block';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'none';
            return
        }
        if (this.value === 'Raw') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'block';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'block';
            return
        }
        if (this.value === 'Binary') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'block';
            document.getElementById('content-type').style.display = 'none';
        }
    });
</script>
<script>
    {#新增参数#}

    function delTr(obj) {
        var table = obj.parentNode.parentNode.parentNode;
        var tr = obj.parentNode.parentNode;
        table.removeChild(tr);
    }

    function add_params() {
        var add_tbody = document.getElementById('mytable');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.type = 'text';
        i0.name = 'key';
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.type = 'text';
        i1.name = 'value';
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

    function add_word2() {
        var add_tbody = document.getElementById('mytable2');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.type = 'text';
        i0.name = 'key2';
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.type = 'text';
        i1.name = 'value2';
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

    function add_header() {
        var add_tbody = document.getElementById('myheader');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.type = 'text';
        i0.name = 'key3';
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.type = 'text';
        i1.name = 'value3';
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

    function add_query() {
        var add_tbody = document.getElementById('myquery');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.type = 'text';
        i0.name = 'key4';
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 600px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.type = 'text';
        i1.name = 'value4';
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

</script>
</body>
</html>
