<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW_HOME</title>
    <link rel="stylesheet" type="text/css" href="/static/xuanxiangla/201610091515/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/xuanxiangla/201610091515/css/htmleaf-demo.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" type="text/css" href="/static/xialakuang/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/xialakuang/css/cs-select.css"/>
    <link rel="stylesheet" type="text/css" href="/static/xialakuang/css/cs-skin-underline.css"/>
    <link rel="stylesheet" type="text/css" href="/static/xialakuang/css/dmaku.css"/>
    <link rel="stylesheet" href="/static/button/css/dmaku.css">

    <style type="text/css">
        /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
        /* =========
        Get Fonts */
        @import url(http://fonts.googleapis.com/css?family=Quicksand);
        @import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

        /* ================
           Assign Variables */
        /* ===========================
           Setup Mixins/Helper Classes */
        .clearfix:after, .container:after, .tab-nav:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        /* ==========
           Setup Page */
        *, *:before, *:after {
            box-sizing: border-box;
        }

        /* =================
           Container Styling */
        .container {
            position: relative;
            background: white;
            padding: 3em;
        }

        /* ===========
           Tab Styling */
        .tab-group {
            position: relative;
            border: 1px solid #eee;
            margin-top: 2.5em;
            border-radius: 0 0 10px 10px;
        }

        .tab-group section {
            opacity: 0;
            height: 0;
            padding: 0 1em;
            overflow: hidden;
            transition: opacity 0.4s ease, height 0.4s ease;
        }

        .tab-group section.active {
            opacity: 1;
            height: auto;
            overflow: visible;
        }

        .tab-nav {
            list-style: none;
            margin: -2.5em -1px 0 0;
            padding: 0;
            height: 2.5em;
            overflow: hidden;
        }

        .tab-nav li {
            display: inline;
        }

        .tab-nav li a {
            top: 1px;
            position: relative;
            display: block;
            float: left;
            border-radius: 10px 10px 0 0;
        {#background: #eee;#} line-height: 2em;
            padding: 0 1em;
            text-decoration: none;
            color: grey;
            margin-top: .5em;
            margin-right: 1px;
            transition: background .2s ease, line-height .2s ease, margin .2s ease;
        }

        .tab-nav li.active a {
            background: #a1aaa5;
            color: #FFFFFFCC;
            line-height: 2.5em;
            margin-top: 0;
        }
    </style>
    <script src="/static/xuanxiangla/201610091515/js/prefixfree.min.js"></script>
    <!--[if IE]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <style>
        div.cs-skin-underline {
            background: transparent;
            font-size: 10px;
            max-width: 150px;
            position: fixed;
            left: 330px;
            top: 86px;
        }

        div.cs-skin-underlines {
            background: transparent;
            font-size: 10px;
            max-width: 150px;
            position: absolute;
            left: 400px;
            top: 64px;
        }

        .test-1::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 0; /*高宽分别对应横竖滚动条的尺寸*/
        }

        .news_info {
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        p {
            margin: 5px 0;
            color: #FFFFFFCC;
        }

        span {
            padding-left: 10px;
            color: #ce0746;
            font-size: 15px;
            font-weight: bold;
        }

        li:hover {
            background-color: #463949;
        }


    </style>
    <script>
        function borderColor() {
            if (self['ts_url'].style.borderColor == 'red') {
                self['ts_url'].style.borderColor = 'purple';
            } else {
                self['ts_url'].style.borderColor = 'red';
            }
            oTime = setTimeout('borderColor()', 400);
        }
    </script>
</head>
<body class="test-1">
<div class="htmleaf-container"
     style="background-color: #051d0e;width: 235px;position:fixed;z-index: 2;left: 0;height: 100%;" id="new_home_logs">
    <br><br><br>
    <p style="padding-left: 10px;color: #17efde">测试历史：</p>
    <div style="width: 100%;" class="test-1">
        <ul style="list-style: none;padding-left: 0;overflow-y: scroll;height: 610px" class="test-1">
            <hr>
            {% for log in logs %}
                <li style="height: 60px;font-size: 10px;" onclick="show_send_log({{ log.id }})">
                    <span class="style_color" id="method{{ log.id }}">{{ log.ts_method }}</span><span
                        style="color: white">{{ log.status_code }}</span>
                    <p class="news_info" style="padding-left: 3px;">
                        {{ log.ts_url }}
                    </p>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
</div>


<div id="clear_url" class="htmleaf-container" style="background-color: #2fa8ec;width: 100%;position:fixed;z-index: 1;">
    <header class="htmleaf-header">
        <h1 style="padding-left: 100px">接口请求测试平台</h1>
        <br>
        <div style="padding-left: 150px">
            <select id="ts_method" class="cs-select cs-skin-underline">
                <option value="none">请求方式</option>
                <option value="POST">POST</option>
                <option value="GET">GET</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
                <option value="HEAD">HEAD</option>
                <option value="OPTIONS">OPTIONS</option>
                <option value="PATCH">PATCH</option>
            </select>
            <input id="ts_url" type="text" style="border:4px dotted red;border-radius: 5px;color:#ffffff;width: 700px;
                    background-color: rgba(171,131,234,0.5)"
                   onfocus="borderColor(this);"
                   onblur="clearTimeout(ts_url);" onkeyup="update()"
                   value="">
            <div style="position:fixed;width: 100px;height: 35px;top: 63px;left: 1200px;">
                <a href="#" onclick="ho_send()" style="height: 35px;padding-top: 5px;"
                   class="btn btn-sm animated-button victoria-one">测试请求</a>
            </div>
            <div id="save_button" style="display: none;position: fixed;top: 63px;left: 1320px;height: 35px;">
                <a href="#" onclick="open_save()" style="position: fixed;top: 63px;height: 35px;padding-top: 5px"
                   class="btn btn-sm animated-button victoria-two">保存接口</a>
            </div>
        </div>
    </header>
</div>
<div id="clear" class="htmleaf-container" style="position: absolute;top: 150px">
    <div class="container" style="left: 260px;width: 1200px;background-color: #242424">
        <div class="tab-group">
            <section id="tab1" title="请求头部">
                <div style="color: black;">
                    <table class="table table-bordered" id="myheader"
                           style="background-color: #242424;text-align: center">
                        <thead style="color: #337ab7;">
                        <tr>
                            <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                            <td style="width: 550px;border-radius: 5px;height: 30px;">Value</td>
                            <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input id="header_key1" name="key3" type="text" value=""
                                       style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <input id="header_value1" name="value3" type="text" value=""
                                       style="border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                        onclick="delTr(this)"> 删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <button class="btn btn-default" id="add_header" onclick="add_header()"
                            style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px">添加新参数
                    </button>
                </div>
                <br>
            </section>
            <section id="tab2" title="请求体">
                <div class="admin-content-task" style="color: #FFFFFFCC;;padding-top: 10px;height: 20px;width: 100%">
                    <input type="radio" id="none" name="mode" value="none"/> None&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Form-data" name="mode" value="Form-data"/> Form-data&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="X-www-form-urlencoded" name="mode" value="X-www-form-urlencoded"/>
                    X-www-form-urlencoded&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Raw" name="mode" value="Raw"/> Raw&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Binary" name="mode" value="Binary"/> Binary
                    <span id="content-type" style="position:absolute;display: none;left: 600px;top: 10px">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Content-Type :
                        <select class="btn-select" id="content_type"
                                style="background-color: #242424;color: #FFFFFFCC;;position: absolute;width: 280px;height: 25px;left: 180px;top: 0;border-radius: 5px;border: 0;appearance: inherit;">
                            <option value="Auto">Auto</option>
                            <option value="test/plain">Text(test/plain)</option>
                            <option value="application/json">JSON(application/json)</option>
                            <option value="application/javascript">javascript(application/javascript)</option>
                            <option value="application/xml">XML(application/xml)</option>
                            <option value="text/xml">XML(text/xml)</option>
                            <option value="text/html">HTML(text/html)</option>
                        </select>
                    </span>
                </div>
                <div id="heng"
                     style="width: 100%;height: 1px;background-color: #e7e5e5;position: absolute;left:0px;top: 40px;bottom: 360px">
                    &nbsp;
                </div>
                <br>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="nones"
                         style="text-align: center;color: grey;display: block">
                        <h3>这个请求将不会携带任何请求体</h3>
                        <h5>This request will not carry any request-body</h5>
                    </div>
                    <div class="tab-pane fade" id="form-datas" style="display: none">
                        <div style="width: 100%;color: black;">
                            <table class="table table-bordered" id="mytable"
                                   style="text-align: center;background-color: #242424">
                                <thead style="color: #337ab7;">
                                <tr>
                                    <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                                    <td style="width: 550px;border-radius: 5px;height: 30px;">Value</td>
                                    <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input id="params_key1" name="key" type="text"
                                               style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <input id="params_value1" name="value" type="text"
                                               style="border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                                onclick="delTr(this)"> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <button class="btn btn-default" id="add" onclick="add_params()"
                                    style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px">添加新参数
                            </button>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane fade" id="x-www-form-urlencodeds" style="display: none;">
                        <div style="width: 100%;color: black;">
                            <table class="table table-bordered" id="mytable2"
                                   style="background-color: #242424;text-align: center;">
                                <thead style="color: #337ab7;">
                                <tr>
                                    <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                                    <td style="width: 550px;border-radius: 5px;height: 30px;">Value</td>
                                    <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input id="word_key1" name="key2" type="text"
                                               style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <input id="word_value1" name="value2" type="text"
                                               style="border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                                    </td>
                                    <td>
                                        <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                                onclick="delTr(this)"> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <button class="btn btn-default" id="add" onclick="add_word2()"
                                    style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px">添加新参数
                            </button>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane fade" id="raws" style="display: none">
                        <div id="hengs"
                             style="width: 100%;height: 1px;background-color: #e7e5e5;position: absolute;left:0;top: 80px;bottom: 360px">
                            &nbsp;
                        </div>
                        <div style="height: 40px;padding-top: 8px;">
                            <span style="color: #FFFFFFCC;">内容类型：</span>
                            <select style="border-radius: 5px;background-color: #3052b6">
                                <option>TEXT</option>
                                <option>JSON</option>
                                <option>XML</option>
                                <option>HTML</option>
                            </select>
                            <button style="position: absolute;top: 47px;left: 200px;background-color: #0B7500;border-radius: 5px;"
                                    onclick="prettyPrints()">整理格式
                            </button>
                        </div>
                        <textarea class="test-1" name="" id="raw_Text"
                                  style="background-color: #323232;color: #FFFFFFCC;width: 100%;height: 300px;border: 0;outline:none;"></textarea>
                    </div>
                    <div id="binarys" style="display: none;height: 80px;">
                        <br>
                        <input type="file" id="myFile" style="color: #FFFFFFCC;outline:none;"/>
                    </div>
                </div>
            </section>
            <section id="tab3" title="Query参数">
                <div style="width: 100%;color: black;">
                    <table class="table table-bordered" id="myquery"
                           style="background-color: #242424;text-align: center;">
                        <thead style="color: #337ab7;">
                        <tr>
                            <td style="width: 400px;border-radius: 5px;height: 30px;">Key</td>
                            <td style="width: 550px;border-radius: 5px;height: 30px;">Value</td>
                            <td style="width: 270px;border-radius: 5px;height: 30px;">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input id="key1" name="key4" type="text"
                                       style="border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <input id="value1" name="value4" type="text"
                                       style="border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC">
                            </td>
                            <td>
                                <button style="background-color: #535151;color: #FFFFFFCC;font-size: 15px"
                                        onclick="delTr(this)"> 删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <button style="background-color: #1f1102;color: #d5b3d5;border-radius: 5px" class="btn btn-default"
                            id="add" onclick="add_query()">添加新参数
                    </button>
                </div>
                <br>
            </section>
        </div>
    </div>
    <br>
    <div class="container" style="left: 260px;width: 1200px;background-color: #242424;">
        <div class="tab-group">
            <br>
            <section id="tab7" title="返回结果">
                <pre id="result" class="test-1"
                     style="background-color: #242424 !important;color: #0db346;max-height: 500px;overflow: scroll">
                    返回结果
                </pre>
            </section>
            <section id="tab6" title="时间分析">
                <h4 style="color: #adfdee">
                    响应时间：<span id="times" style="color: white"></span>
                </h4>
                <h4 style="color: #adfdee">
                    总时间：<span id="timea" style="color: white"></span>
                </h4>
            </section>
            <section id="tab8" title="返回头部">
                <ul id="head" style="color: #FFFFFFCC">
                    <li>Server :&nbsp;<span id="head1" style="color: #f6ff09"></span></li>
                    <li>Date :&nbsp;<span id="head2" style="color: #f6ff09"></span></li>
                    <li>Content-Type :&nbsp;<span id="head3" style="color: #f6ff09"></span></li>
                    <li>Transfer-Encoding :&nbsp;<span id="head4" style="color: #f6ff09"></span></li>
                    <li>Connection :&nbsp;<span id="head5" style="color: #f6ff09"></span></li>
                    <li>X-Content-Type-Options :&nbsp;<span id="head6" style="color: #f6ff09"></span></li>
                    <li>X-XSS-Protection :&nbsp;<span id="head7" style="color: #f6ff09"></span></li>
                    <li>Cache :&nbsp;<span id="head8" style="color: #f6ff09"></span></li>
                    <li>Pragma :&nbsp;<span id="head9" style="color: #f6ff09"></span></li>
                    <li>Expires :&nbsp;<span id="head10" style="color: #f6ff09"></span></li>
                </ul>
            </section>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>

{#发送请求#}
<script>
    function ho_send() {
        // 获取接口的所有数据
        var ts_method = document.getElementById('ts_method').value;
        var ts_url = document.getElementById('ts_url').value;
        //获取headers
        var keys3 = document.getElementsByName('key3');
        var values3 = document.getElementsByName('value3');
        var content_type = '';
        var keys_3 = [];
        var values_3 = [];
        var ts_api_header = [];
        for (var x3 = 0; x3 < keys3.length; x3++) {
            var key_3 = keys3[x3].value; // 获取tr下的俩个td
            keys_3.push(key_3)
        }
        for (var j3 = 0; j3 < values3.length; j3++) {
            var name_3 = values3[j3].value; // 获取tr下的俩个td
            values_3.push(name_3)
        }
        for (var l3 = 0; l3 < keys_3.length; l3++) {
            ts_api_header.push([keys_3[l3], values_3[l3]]);
        }
        // 判断顶部的数据是否填充完
        if (ts_method === 'none') {
            Swal.fire({
                icon: 'error',
                title: '请选择请求方式！！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        if (ts_url === '') {
            Swal.fire({
                icon: 'error',
                title: '请选择输入请求地址....！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        //判断关键数据是否符合规则
        if (ts_url.slice(0, 7) !== 'http://' && ts_url.slice(0, 8) !== 'https://') {
            Swal.fire({
                icon: 'error',
                title: 'host必须以http://或https://开头！！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        console.log(ts_api_header, keys_3, values_3)

        var ts_body_method = $('ul.tab-nav li[class="active"]')[0].innerText;
        if (ts_body_method === '请求体' || ts_body_method === '请求头部') {
            if (document.getElementById("none").checked) {
                ts_api_body = JSON.stringify([])
                var ts_api_method = 'none'
            }
            if (document.getElementById("Form-data").checked) {
                var keys = document.getElementsByName('key');
                var values = document.getElementsByName('value');
                var keys_ = [];
                var values_ = [];
                var ts_api_form = [];
                for (var x = 0; x < keys.length; x++) {
                    var key_ = keys[x].value; // 获取tr下的俩个td
                    keys_.push(key_)
                }
                for (var j = 0; j < values.length; j++) {
                    var name_ = values[j].value; // 获取tr下的俩个td
                    values_.push(name_)
                }
                for (var l = 0; l < keys_.length; l++) {
                    ts_api_form.push([keys_[l], values_[l]]);
                }
                console.log(ts_api_form, keys_, values_)
                ts_api_body = JSON.stringify(ts_api_form);
                var ts_api_method = 'form-data';
            }
            if (document.getElementById("X-www-form-urlencoded").checked) {
                var keys2 = document.getElementsByName('key2');
                var values2 = document.getElementsByName('value2');
                var keys_2 = [];
                var values_2 = [];
                var ts_api_www = [];
                for (var x2 = 0; x2 < keys2.length; x2++) {
                    var key_2 = keys2[x2].value; // 获取tr下的俩个td
                    keys_2.push(key_2)
                }
                for (var j2 = 0; j2 < values2.length; j2++) {
                    var name_2 = values2[j2].value; // 获取tr下的俩个td
                    values_2.push(name_2)
                }
                for (var l2 = 0; l2 < keys_2.length; l2++) {
                    ts_api_www.push([keys_2[l2], values_2[l2]]);
                }
                console.log(ts_api_www, keys_2, values_2)
                ts_api_body = JSON.stringify(ts_api_www);
                var ts_api_method = 'X-www-form-urlencoded';
            }
            if (document.getElementById("Raw").checked) {
                {#需要获取conten-type#}
                var content_type = document.getElementById('content_type').value;
                var ts_api_body = document.getElementById('raw_Text').value;
                var ts_api_method = 'Raw';

            }
            if (document.getElementById("Binary").checked) {
                console.log('Binary')
                var ts_api_method = 'Binary';
            }
        }

        if (ts_body_method === 'Query参数') {
            console.log('Query参数')
            var keys4 = document.getElementsByName('key4');
            var values4 = document.getElementsByName('value4');
            var keys_4 = [];
            var values_4 = [];
            var ts_api_query = [];
            for (var x4 = 0; x4 < keys4.length; x4++) {
                var key_4 = keys4[x4].value; // 获取tr下的俩个td
                keys_4.push(key_4)
            }
            for (var j4 = 0; j4 < values4.length; j4++) {
                var name_4 = values4[j4].value; // 获取tr下的俩个td
                values_4.push(name_4)
            }
            for (var l4 = 0; l4 < keys_4.length; l4++) {
                ts_api_query.push([keys_4[l4], values_4[l4]]);
            }
            console.log(ts_api_query, keys_4, values_4)
            var ts_api_body = JSON.stringify(ts_api_query);
            var ts_api_method = 'Query参数';
        }
        console.log(ts_method, ts_url, ts_api_header, ts_body_method, ts_api_method, ts_api_body)
        var token = window.localStorage.getItem("userToken");
        $.ajax({
            url: '/Api_send_index/',
            type: 'POST',
            data: JSON.stringify({
                'ts_method': ts_method, //请求方式
                'ts_url': ts_url,   //请求地址
                'ts_api_header': ts_api_header,  //请求头
                'ts_body_method': ts_body_method,  //参数位置
                'ts_api_method': ts_api_method,
                'ts_api_body': ts_api_body,   //参数
                'content_type': content_type,
            }),
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + window.localStorage.getItem("userToken"));
            },
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data.re);
                $("li a[href=#tab7]").click();
                document.getElementById('result').innerText = data.re;
                prettyPrint()
                var heads = JSON.parse(data.head);
                console.log(typeof heads)
                document.getElementById('times').innerText = data.times;
                document.getElementById('timea').innerText = data.timea;
                document.getElementById('head1').innerText = heads.head1;
                document.getElementById('head2').innerText = heads.head2;
                document.getElementById('head3').innerText = heads.head3;
                document.getElementById('head4').innerText = heads.head4;
                document.getElementById('head5').innerText = heads.head5;
                document.getElementById('head6').innerText = heads.head6;
                document.getElementById('head7').innerText = heads.head7;
                document.getElementById('head8').innerText = heads.head8;
                document.getElementById('head9').innerText = heads.head9;
                document.getElementById('head10').innerText = heads.head10;
                $("#new_home_logs").load(location.href + " #new_home_logs");
                document.getElementById('save_button').style.display = 'block';
            }
        })
    }

    function prettyPrint() {
        var ugly = document.getElementById('result').innerText;
        var obj = JSON.parse(ugly);
        var pretty = JSON.stringify(obj, null, 4);
        document.getElementById('result').innerText = pretty;
    }

    function prettyPrints() {
        var ugly = document.getElementById('raw_Text').value;
        console.log(ugly)
        var obj = JSON.parse(ugly);
        var pretty = JSON.stringify(obj, null, 4);
        document.getElementById('raw_Text').value = pretty;
    }
</script>
{#保存接口#}
<div id="new_send" style="display: none;position: fixed;background-color: rgba(199,184,217,0.5);width: 55%;height: 300px;top: 200px;
        left: 380px;padding-top: 30px;border-radius: 50px;padding-left: 80px">
    <br><br>
    <div class="input-group" style="margin-top: 5px;margin-left: 25%;width: 50%;">
        <span class="input-group-addon">项目名称：</span>
        <select id="project_name" style="width: 200px;height: 30px;">
            <option value="0">请选择项目</option>
            {% for i in project %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="input-group" style="margin-top: 5px;margin-left: 25%;width: 50%;">
        <span class="input-group-addon">接口名称：</span>
        <input id="api_name" type="text" class="form-control" placeholder="请输入接口名称" value="">
    </div>
    <br><br>
    <div style="position:fixed;width: 100px;height: 30px;left: 970px;">
        <a href="#" onclick="save_send()" style="height: 30px;padding-top: 3px"
           class="btn btn-sm animated-button victoria-one">确 定</a>
    </div>
    <div style="position:fixed;width: 100px;height: 30px;left: 570px;">
        <a href="#" onclick="close_send()" style="height: 30px;padding-top: 3px"
           class="btn btn-sm animated-button victoria-one">取 消</a>
    </div>
</div>
<script>
    function save_send() {
        var project_name = document.getElementById('project_name').value;
        console.log(project_name)
        var api_name = document.getElementById('api_name').value;
        if (project_name === "0") {
            Swal.fire({
                icon: 'error',
                title: '请选择项目',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        if (api_name === '') {
            Swal.fire({
                icon: 'error',
                title: '请输入接口名称！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        console.log(project_name)
        $.ajax({
            url: '/Api_new_save/',
            type: "POST",
            data: JSON.stringify({
                "project_name": project_name,
                "api_name": api_name,
            }),
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Basic " + window.localStorage.getItem("userToken"));
            },
            success: function (data) {
                console.log(data)
                Swal.fire({
                    icon: 'success',
                    title: '保存成功！',
                    showConfirmButton: false,
                    timer: 1500
                });
                document.getElementById("new_send").style.display = 'none';
                document.getElementById('mengceng').style.display = 'none';
            }
        })

    }

    function open_save() {
        document.getElementById('mengceng').style.display = 'block';
        document.getElementById('mengceng').style.zIndex = 998;
        document.getElementById('new_send').style.display = 'block';
        document.getElementById('new_send').style.zIndex = 999;
    }

    function close_send() {
        document.getElementById('new_send').style.display = 'none';
        document.getElementById('mengceng').style.display = 'none';
    }
</script>
{#展示接口到请求页面#}
<script>
    function show_send_log(id) {
        $.ajax({
                url: '/select_api/',
                type: 'GET',
                data: {"Id": id},
                dataType: 'json',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Basic " + window.localStorage.getItem("userToken"));
                },
                complete: function (xhr) {
                    console.log(xhr.status);
                    if (xhr.status === 401){
                        document.location.href = '/login/';
                    }
                },
                success: function (data) {
                    console.log(data)
                    var log = data.message
                    //document.getElementById('ts_method').value = log.ts_method;
                    document.getElementsByClassName('cs-placeholder').value = log.ts_method;
                    //$("#ts_method option[value='" + log.ts_method + "']").attr("selected", "selected");
                    console.log('post', log.ts_method)
                    document.getElementById('ts_url').value = log.ts_url;
                    var heads = JSON.parse(data.head)
                    document.getElementById('result').innerText = log.result;
                    prettyPrint()
                    document.getElementById('times').innerText = log.api_time;
                    document.getElementById('timea').innerText = log.all_time;
                    document.getElementById('head1').innerText = heads.head1;
                    document.getElementById('head2').innerText = heads.head2;
                    document.getElementById('head3').innerText = heads.head3;
                    document.getElementById('head4').innerText = heads.head4;
                    document.getElementById('head5').innerText = heads.head5;
                    document.getElementById('head6').innerText = heads.head6;
                    document.getElementById('head7').innerText = heads.head7;
                    document.getElementById('head8').innerText = heads.head8;
                    document.getElementById('head9').innerText = heads.head9;
                    document.getElementById('head10').innerText = heads.head10;
                    {#headers#}
                    var headers = log.ts_header
                    var header = headers.replace(/'/g, '"');
                    var header_json = JSON.parse(header)
                    var i = 0;
                    var header_key = 'header_key';
                    var header_value = 'header_value';
                    console.log('header长度', Object.keys(header_json).length)
                    for (let key in header_json) {
                        i += 1;
                        document.getElementById(header_key + i).value = key;
                        document.getElementById(header_value + i).value = header_json[key];
                        var headerna = document.getElementsByName('key3')
                        console.log('获取到底有少个', headerna.length)
                        if (Object.keys(header_json).length > headerna.length) {
                            console.log('判断加不加')
                            add_header()
                        }
                    }

                    if (log.ts_body_method === '请求体') {
                        $("li a[href=#tab2]").click();
                        if (log.ts_api_method === 'none') {
                            return
                        }
                        if (log.ts_api_method === 'form-data') {
                            $("input[type=radio][name=mode][value=Form-data]").click();
                            var api_body = eval(log.ts_api_body)
                            console.log(api_body)
                            var j = 0;
                            var params_key = 'params_key';
                            var params_value = 'params_value';
                            for (var i = 0; i < api_body.length; i++) {
                                j += 1;
                                console.log(api_body[i])
                                document.getElementById(params_key + j).value = api_body[i][0];
                                document.getElementById(params_value + j).value = api_body[i][1];
                                var formdata = document.getElementsByName('key')
                                console.log('获取到底有少个', formdata.length)
                                if (api_body.length > formdata.length) {
                                    console.log('判断加不加')
                                    add_params()
                                }
                            }
                        }
                        if (log.ts_api_method === 'X-www-form-urlencoded') {
                            $("input[type=radio][name=mode][value=X-www-form-urlencoded]").click();
                            var api_body = eval(log.ts_api_body)
                            console.log(api_body)
                            var a = 0;
                            var word_key = 'word_key';
                            var word_value = 'word_value';
                            for (var i = 0; i < api_body.length; i++) {
                                a += 1;
                                console.log(api_body[i])
                                document.getElementById(word_key + a).value = api_body[i][0];
                                document.getElementById(word_value + a).value = api_body[i][1];
                                var xform = document.getElementsByName('key2')
                                console.log('获取到底有少个', xform.length)
                                if (api_body.length > xform.length) {
                                    console.log('判断加不加')
                                    add_word2()
                                }
                            }
                        }

                        if (log.ts_api_method === 'Raw') {
                            $("input[type=radio][name=mode][value=Raw]").click();
                            document.getElementById('raw_Text').innerText = log.ts_api_body;
                            prettyPrints()
                        }
                        if (log.ts_api_method === 'Binary') {
                            $("input[type=radio][name=mode][value=Binary]").click();
                        }
                    }
                    if (log.ts_body_method === 'Query参数') {
                        $("li a[href=#tab3]").click();
                        var query = eval(log.ts_api_body)
                        var i = 0;
                        console.log(query)
                        var query_key = 'key';
                        var query_value = 'value';
                        for (var w = 0; w < query.length; w++) {
                            i += 1;
                            console.log(query.length)
                            document.getElementById(query_key + i).value = query[w][0];
                            document.getElementById(query_value + i).value = query[w][1];
                            var qu = document.getElementsByName('key4')
                            console.log('获取到底有少个', qu.length)
                            if (query.length > qu.length) {
                                console.log('判断加不加')
                                add_query()
                            }
                        }
                    }
                }
            }
        )
    }
</script>
<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="/static/xuanxiangla/201610091515/js/jquery-1.11.0.min.js"><\/script>')</script>
<script type="text/javascript" src="/static/xuanxiangla/201610091515/js/jquery-tab.js"></script>
<script type="text/javascript">
    $(function () {
        // Calling the plugin
        $('.tab-group').tabify();
    });
    $('#myBtn').click(function () {
        $('#myFile').click(); // 模拟文件上传按钮点击操作

    });
    $(".admin-content-task input:first").attr("checked", true);
</script>
<script>
    $('input[type=radio][name=mode]').change(function () {
        if (this.value === 'none') {
            document.getElementById('nones').style.display = 'block';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'none';
            return
        }
        if (this.value === 'Form-data') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'block';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'none';
            return
        }
        if (this.value === 'X-www-form-urlencoded') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'block';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'none';
            return
        }
        if (this.value === 'Raw') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'block';
            document.getElementById('binarys').style.display = 'none';
            document.getElementById('content-type').style.display = 'block';
            return
        }
        if (this.value === 'Binary') {
            document.getElementById('nones').style.display = 'none';
            document.getElementById('form-datas').style.display = 'none';
            document.getElementById('x-www-form-urlencodeds').style.display = 'none';
            document.getElementById('raws').style.display = 'none';
            document.getElementById('binarys').style.display = 'block';
            document.getElementById('content-type').style.display = 'none';
        }
    });
</script>
<script>
    {#新增参数#}

    function delTr(obj) {
        var table = obj.parentNode.parentNode.parentNode;
        var tr = obj.parentNode.parentNode;
        table.removeChild(tr);
    }

    function add_params() {
        var names = document.getElementsByName('key')
        var num = names.length + 1;
        var add_tbody = document.getElementById('mytable');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.type = 'text';
        i0.name = 'key';
        i0.id = 'params_key' + num;
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.type = 'text';
        i1.name = 'value';
        i1.id = 'params_value' + num;
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

    function add_word2() {
        var names = document.getElementsByName('key2')
        var num = names.length + 1;
        var add_tbody = document.getElementById('mytable2');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.type = 'text';
        i0.name = 'key2';
        i0.id = 'word_key' + num;
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.type = 'text';
        i1.name = 'value2';
        i1.id = 'word_value' + num;
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

    function add_header() {
        var names = document.getElementsByName('key3')
        var num = names.length + 1;
        var add_tbody = document.getElementById('myheader');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.type = 'text';
        i0.name = 'key3';
        i0.id = 'header_key' + num;
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.type = 'text';
        i1.name = 'value3';
        i1.id = 'header_value' + num;
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

    function add_query() {
        var names = document.getElementsByName('key4')
        var num = names.length + 1;
        var add_tbody = document.getElementById('myquery');
        var t1 = document.createElement('tbody');
        var t2 = document.createElement('tr');
        var t3 = document.createElement('td');
        var i0 = document.createElement("input");
        i0.style = 'border-radius: 5px;width: 400px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i0.id = 'key' + num;
        i0.type = 'text';
        i0.name = 'key4';
        var t4 = document.createElement('td');
        var i1 = document.createElement("input");
        i1.style = 'border-radius: 5px;width: 550px;height: 30px;background-color: #323232;color: #FFFFFFCC';
        i1.id = 'value' + num;
        i1.type = 'text';
        i1.name = 'value4';
        var t5 = document.createElement('td');
        var a = document.createElement('button');
        a.style = 'background-color: #535151;color: #FFFFFFCC;font-size: 15px;';
        a.onclick = Function("delTr(this)");
        add_tbody.appendChild(t1);
        t1.appendChild(t2);
        t2.appendChild(t3);
        t3.appendChild(i0);
        t2.appendChild(t4);
        t2.appendChild(t5);
        t5.appendChild(a);
        a.appendChild(document.createTextNode('删除'));
        t4.appendChild(i1);
    }

</script>
{#Query参数自动添加#}
<script>

    function update() {
        console.log('初始开始')
        var params = []
        var url = document.getElementById('ts_url').value;
        console.log(url)
        var code = url.match(/\?(.*)/)[1];
        var codes = code.split("&")
        for (var i = 0; i < codes.length; i++) {
            var word = codes[i].split('=');
            console.log(word)
            params.push(word);
            var a = i + 1;
            var key = 'key' + a;
            var value = 'value' + a;
            document.getElementById(key).value = word[0];
            if (word.length === 1) {
                console.log('===============================')
                document.getElementById(value).value = '';
            } else {
                document.getElementById(value).value = word[1];
            }
            console.log(key)
        }
        console.log(params)
        var kkk = document.getElementsByName('key4');
        var sss = kkk.length
        var sk = 'key' + sss;
        var keya = document.getElementById(sk).value;
        if (keya !== '') {
            add_query()
        }
    }
</script>
<div id="mengceng"
     style="position:fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 100;display: none"></div>
<div id="menu"
     style="position:fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 100;display: none">
    <button style="color: #2fa8ec;background-color: #0B7500" onclick="close_menu()">关 闭</button>
    <div style="text-align: center;font-size: 30px;padding-top: 50px">
        <div class="fat-nav__wrapper">
            <ul style="list-style: none;">
                <p>
                    <a style="color: white" class="active" href="/project_list/">
                        项目列表
                    </a>
                </p>
                <br>
                <p>
                    <a style="color: white" class="active" href="/index/">
                        新主页
                    </a>
                </p>
                <br>
                <p>
                    <a style="color: white" href="/user/">
                        用户管理页面
                    </a>
                </p>
                <br>
                <p>
                    <a style="color: white" href="http://localhost:8089" target="_blank">
                        性能页面
                    </a>
                </p>
                <br>
                <p>
                    <a style="color: white" href="/tools_zhengjiao/">
                        正交生成器
                    </a>
                </p>
                <br>
                <p>
                    <a style="color: white" href="/help/">
                        帮助
                    </a>
                </p>
            </ul>
        </div>
    </div>
</div>
<div style="position: fixed;z-index: 2">
    <button style="background-color: #0B7500;color: #2fa8ec;z-index: 100" onclick="open_menu()">菜 单</button>
</div>
<script>
    function open_menu() {
        document.getElementById('menu').style.display = 'block';
    }

    function close_menu() {
        document.getElementById('menu').style.display = 'none';
    }

</script>
<script>
    method = document.getElementsByClassName('style_color');
    console.log(method)
    for (const key in method) {
        console.log(method[key].innerText);
        const method_id = method[key].id;
        if (method[key].innerText === "GET") {
            document.getElementById(method_id).style.color = '#8920e5';
        }
        if (method[key].innerText === "POST") {
            document.getElementById(method_id).style.color = '#e5203e';
        }
        if (method[key].innerText === "PUT") {
            document.getElementById(method_id).style.color = '#2fb661';
        }
        if (method[key].innerText === "DELETE") {
            document.getElementById(method_id).style.color = '#1675bd';
        }
    }

</script>
<script src="/static/xialakuang/js/classie.js"></script>
<script src="/static/xialakuang/js/selectFx.js"></script>
<script>
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();
</script>
</body>
</html>
