<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/201908059658/js/jquery-1.11.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

<div class="container">
    <div class="login-box">
        <div class="apple-btn login-apple">
            <li class="red-btn"></li>
            <li class="yellow-btn"></li>
            <li class="green-btn"></li>
        </div>
        <div class="title">Login</div>
        <div class="input">
            <label for="login-user"></label><input type="text" id="login-user" placeholder="Input your username">
        </div>
        <div class="input">
            <label for="login-password"></label><input type="password" id="login-password"
                                                       placeholder="Input your password">
        </div>
        <div class="btn login-btn" id="login">
            <span>登录</span>
        </div>
        <div class="change-box login-change">
            <div class="change-btn toSign">
                <span>去注册</span>
            </div>
        </div>
    </div>

    <div class="sign-box">
        <div class="apple-btn sign-apple">
            <li class="red-btn"></li>
            <li class="yellow-btn"></li>
            <li class="green-btn"></li>
        </div>
        <div class="title">Sign</div>
        <div class="input">
            <label for="sign-user"></label><input type="text" id="sign-user" placeholder="Have A Good Name?">
        </div>
        <div class="input">
            <label for="sign-password"></label><input type="password" id="sign-password" placeholder="Keep Secret">
        </div>
        <div class="btn sign-btn" id="sign">
            <span>注册</span>
        </div>
        <div class="change-box sign-change">
            <div class="change-btn toLogin">
                <span>去登陆</span>
            </div>
        </div>
    </div>
</div>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $('#login').click(function() {
        var username = document.getElementById('login-user').value;
        var password = document.getElementById('login-password').value;
        console.log(username, password)
        $.ajax({
            url: "/login_action/",
            type: "post",
            data: JSON.stringify({
                "username": username,
                "password": password
            }),
            contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                console.log(data)
                if (data.message === '成功') {
                    Swal.fire({
                        icon: 'success',
                        title: '登录成功！！',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    document.location.href = '/home/'
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            }

        })
    })

    $('#sign').click(function() {
        var username = document.getElementById('sign-user').value;
        var password = document.getElementById('sign-password').value;
        $.ajax({
            url: "/sign_action/",
            type: "POST",
            data: JSON.stringify({
                "username": username,
                "password": password
            }),
            contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                if (data.message === '注册成功！') {
                    Swal.fire({
                        icon: 'success',
                        title: '恭喜，注册成功！！',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            }

        })
    })
</script>
<script>
    /*
    Logic：
        主要采用原生 JavaScript，
        只有在发送 Ajax 请求是才使用 JQuery

    ===
    1、登录注册页面的切换逻辑
    2、Ajax发送及接受响应逻辑
    ===
*/


    // 封装选择器, 采用ES6箭头函数写法
    const getSelector = ele => {
        return typeof ele === "string" ? document.querySelector(ele) : "";
    }


    // 登录注册载入

    const containerShow = () => {
        var show = getSelector(".container")
        show.className += " container-show"
    }


    window.onload = containerShow;


    // 登录注册页切换
    ((window, document) => {

        // 登录 -> 注册
        let toSignBtn = getSelector(".toSign"),
            toLoginBtn = getSelector(".toLogin")
        loginBox = getSelector(".login-box"),
            signBox = getSelector(".sign-box");

        toSignBtn.onclick = () => {
            loginBox.className += ' animate_login';
            signBox.className += ' animate_sign';
        }

        toLoginBtn.onclick = () => {
            loginBox.classList.remove("animate_login");
            signBox.classList.remove("animate_sign");
        }


    })(window, document);

    // Ajax 请求发送
</script>
<script>
    function ts_send() {
        var api_name = document.getElementById('ts_api_name').value;
        var ts_method = document.getElementById('ts_method').value;
        var ts_url = document.getElementById("ts_url").value;
        var ts_host = document.getElementById("ts_host").value;
        var ts_header = document.getElementById("ts_header").value;
        var ts_body_method = $('ul#myTab li[class="active"]')[0].innerText;

        if (ts_body_method === 'none') {
            const ts_api_body = '';
        }
        if (ts_body_method === 'form-data') {
            let ts_api_body = []; //新建这个空列表用来存放后续的数据
            const tbody_ = $("table#mytable tbody")[0]; //获取该表格的内容部分
            const trlist = tbody_.children; //获取下面所有tr，每个tr就是一个键值对实际上
            for (let i = 0; i < trlist.length; i++) {
                const tdarr = trlist[i].children; // 获取tr下的俩个td
                const key = tdarr[0].innerText; // 获取key
                const value = tdarr[1].innerText; // 获取value
                ts_api_body.push([key, value]);// 作为一个数组，存放到这个大数组里。
            }
            console.log(ts_api_body)
            ts_api_body = JSON.stringify(ts_api_body);
        }
        if (ts_body_method === 'x-www-form-urlencoded') {
            console.info('2===============================')
            let ts_api_body = []; //新建这个空列表用来存放后续的数据
            const tbody_ = $("table#mytable2 tbody")[0]; //获取该表格的内容部分
            const trlist = tbody_.children; //获取下面所有tr，每个tr就是一个键值对实际上
            for (let i = 0; i < trlist.length; i++) {
                const tdarr = trlist[i].children; // 获取tr下的俩个td
                const key = tdarr[0].innerText; // 获取key
                const value = tdarr[1].innerText; // 获取value
                ts_api_body.push([key, value]);// 作为一个数组，存放到这个大数组里。
            }
            console.log(ts_api_body)
            ts_api_body = JSON.stringify(ts_api_body);
        }
        if (ts_body_method === 'Text') {
            const ts_api_body = document.getElementById('raw_Text').value;
        }
        if (ts_body_method === 'JavaScript') {
            const ts_api_body = document.getElementById('raw_JavaScript').value;
        }
        if (ts_body_method === 'Json') {
            const ts_api_body = document.getElementById('raw_Json').value;
        }
        if (ts_body_method === 'Html') {
            const ts_api_body = document.getElementById('raw_Html').value;
        }
        if (ts_body_method === 'Xml') {
            const ts_api_body = document.getElementById('raw_Xml').value;
        }
        var api_id = document.getElementById('ts_api_id').innerText;

        let ts_api_body;
        $.get('/Api_send/', {
            'api_id': api_id,
            'api_name': api_name,
            'ts_method': ts_method,
            'ts_url': ts_url,
            'ts_host': ts_host,
            'ts_header': ts_header,
            'ts_body_method': ts_body_method,
            'ts_api_body': ts_api_body,
        }, function (ret) {
            console.info('4===============================')
            $("li a[href='#response']").click(); //点击一下返回体按钮
            document.getElementById('ts_response_body').value = ret;
        })
    }
</script>
</body>
</html>
