<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GLOBAL</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .test-1::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 0; /*高宽分别对应横竖滚动条的尺寸*/
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation"
     style="position: absolute;top: 0;left: 80px;width:-webkit-calc(100% - 200px);z-index: 1">
    <div class="container-fluid">
        <div class="navbar-header">
            <span style="font-size: xx-small" class="navbar-brand">项目名称：{{ project.name }}</span>
            <a class="navbar-brand" href="/project_list/">返回项目列表</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/apis/{{ project.id }}/">接口库</a></li>
                <li><a href="/cases/{{ project.id }}/">用例库</a></li>
                <li class="active"><a href="/global_data/{{ project.id }}/">全局变量</a></li>
                <li><a href="/project_set/{{ project.id }}/">项目设置</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding-left: 100px;padding-top: 50px">
    {% for i in global_data %}
        <button class="btn-default" style="margin-top: 5px;width:150px "
                onclick="show_data({{ i.id }})">{{ i.name }}</button>
        <button class="btn-danger" onclick="delete_data({{ i.id }})">删除</button>

        <br>
    {% endfor %}
    <br>
    <button class="btn-primary" onclick="new_data()">新增</button>
</div>
<div id="new" style="display: none;position: absolute;background-color: rgb(241,245,234);width: 55%;height: 300px;top: 200px;
        left: 300px;padding-top: 30px;border-radius: 50px;">
    <div class="input-group" style="margin-top: 5px;margin-left: 25%;width: 50%;">
        <span class="input-group-addon">变量名称</span>
        <input id="show_name" type="text" class="form-control" placeholder="变量名称" disabled>
    </div>
    <br>
    <div class="input-group" style="margin-top: 5px;margin-left: 25%;width: 50%;">
        <span class="input-group-addon">变量内容</span>
        <textarea style="height: 145px" id="show_datas" type="text" class="form-control test-1" placeholder="" disabled value="">
        </textarea>
    </div>
    <br>
    <button style="left: 400px;position: absolute;" class="btn btn-success" onclick="close_data()">关 闭</button>
</div>
<div style="position: absolute;left: 310px;top: 75px">
    <input id="name" type="text" style="width: 500px" placeholder="输入变量套的名字"> <br>
    <textarea id="data" style="width: 500px;height: 500px;" placeholder="输入json格式的变量套内容"></textarea>
</div>
<div id="mengceng" style="display: none;opacity:0.5;position: absolute;left: 0;top: -105px;
                          background-color: gray;width: 100%">
</div>
</body>
<script>
    document.getElementById('mengceng').style.height = window.screen.availHeight.toString() + 'px';
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function new_data() {
        var name = document.getElementById('name').value;
        var data = document.getElementById('data').value;
        var user_id = {{ project.user_id }};
        if (name === '') {
            Swal.fire({
                icon: 'error',
                title: '请输入变量名称！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        if (data === '') {
            Swal.fire({
                icon: 'error',
                title: '请输入变量内容！',
                showConfirmButton: false,
                timer: 1500
            });
            return
        }
        console.log(name, data, user_id)
        $.get('/global_data_new/', {
            'name': name,
            'data': data,
            'user_id': user_id
        }, function (ret) {
            Swal.fire({
                icon: 'success',
                title: '新增成功！！',
                showConfirmButton: false,
                timer: 1500
            });
        })
        document.location.reload();
    }

    function delete_data(id) {
        $.get('/delete_data/', {
            'id': id
        }, function (ret) {
            document.location.reload();
            Swal.fire({
                icon: 'success',
                title: '删除成功！！',
                showConfirmButton: false,
                timer: 1500
            });
        })
    }

    function close_data() {
        document.getElementById('new').style.display = 'none';
        document.getElementById('mengceng').style.display = 'none';
    }

    function show_data(id) {
        document.getElementById('new').style.display = 'block';
        document.getElementById('mengceng').style.display = 'block';
        document.getElementById('new').style.zIndex = '999';
        document.getElementById('mengceng').style.zIndex = '998';
        $.ajax({
            url: "/show_data/",
            type: "GET",
            data: {
                'id': id,
            },
            dataType: "json",
            success: function (data) {
                console.log(data,'  ',data.name)
                document.getElementById("show_name").value = data.name;
                document.getElementById('show_datas').value = data.data;
            }

        })
    }

</script>
</html>
